
/* 320px */

body
{
    box-sizing: border-box;
    /* max-width: 90%; */
    background-image: url("../img/nightsky.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 0%;
    padding: 0;
    margin: 0;
}
.heading
{
    width: 100vw;
    /* height: 30em; */
    height: 50vh;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
h1
{
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    padding: .75em 0 1.25em 1em;
    text-align: left;
    z-index: 1;
    position: fixed;
    top: 0;
    margin-top: 0;
    font-weight: bold;
}
/* .h1-bgcolor
{
    background: linear-gradient(#111, #111, transparent);
} */
h3
{
    z-index: 0;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 60vw;
    padding: 6.25em 0 1.25em 1em;
    margin: 0;
    
    text-align: left;
    font-size: 3em;
    font-family: Palatino;
    color: #999;
}
/* height: 40em; */
/* height: 100%; */

/* .browse
{
    z-index: 7;
    position: absolute;
 
    display: block;
    margin: 80em 0;
    height: 4em;
    width: 10em;
    border: none;
    background-color: #111;
    color: white;
}
.browse:hover
{
    background-color: white;
    color: #111;
} */
.menu-icon, .sidebar 
{
    z-index: 3;
}
.menu-icon
{
    top: 2.5em;
    right: 2.5em;
    width: 6.25em;
    height: 5.5em;
    background-color: #444;
}
.menu-icon span {
    height: .5em;
    margin: 1em 0;
}
.sidebar {
    left: -40em;
    width: 40em;
    padding: 2.5em;
}
.sidebar.active
{
    background-color: #555;
}
.sidebar .menu {
    padding: 5em 0;
}
.sidebar .menu li a {
    padding: 1em 0;
    font-size: 3em;
}
.menu-icon.active span {
    width: calc(100% - 1em);
    top: calc(50% - 1em);
}
.social-icon {
    bottom: 5em;
    width: 0 2.5em;
}
.social-icon li a {
    font-size: 4em;
    width: 2em;
    height: 2em;
    line-height: 2.25em;
}
.logo2 
{
    width: 12.5em;
    height: 12.5em;
}
.flex 
{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.videoBody
{
        /* border: 2px solid white; */
        background-color: #111;

    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: fit-content;
    width: 94vw;
    margin: 34.375em 0;
    padding: 0 0 0 3.75em;
}
.categories
{
    width: 100%;
    margin: 1em 0 2em;
    font-size: 3em;
    font-family: Verdana, sans-serif;
    color: #888;
}
.videoCategory 
{
    width: 100%;
    height: 100%;
}
.gutter
{
    width: 80%;
    padding: 0 0 1.25em 0;
}
.gutter-header
{
    width: 100%;
    top: 0;
    margin: 0 0 10px 0;
    background-color: #111;
}
.gutter:hover .gutter-header
{
    background-color: #333;
}
.gutter h2, .gutter p
{
    padding: 5px 25px;
    text-align: left;
    letter-spacing: 1px;
}
.gutter h2 
{
    color: #fff;
}
.gutter p
{
    color: #888 !important;
    font-family: Palatino;
}
#popout
{
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.exit-popout
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 28px;
    height: 80px;
    width: 80px;
    background-color: rgb(60, 60, 60);
    color: #fff;
    cursor: pointer;
}
.exit-popout span {
    height: 4px;
    display: block;
    background: #fff;
    margin: 6px 0;
    transition: 0.5s;
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - 8px);
}
.exit-popout span:nth-child(1) {
    transform: rotate(45deg);
}
.exit-popout span:nth-child(3) {
    transform: rotate(-45deg);
}

.exit-popout span:nth-child(2) {
    display: none;
}

.video
{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, .5);
}
.vidContainer
{
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    box-sizing: border-box;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 6px 0;
    height: 14em;
    width: 100%;
    margin: 30px 7px;
    padding: 0;
    margin: 0;
}
.previousButton, .nextButton
{
    /* position: absolute; */
    z-index: 5;
    top: 0;
    height: 0;
    width: 0;
    margin-top: 3.5em; 
    border-top: 5em solid transparent;
    border-bottom: 5em solid transparent;
}
.previousButton
{
    margin-left: 2em;
    left: 0;
    border-right: 5em solid rgba(255, 255, 255, .7);
}
.previousButton:hover
{
    border-right: 5em solid rgba(255, 255, 255, 1);
}
.nextButton
{
    margin-right: 2em;
    right: 0;
    border-left: 5em solid rgba(255, 255, 255, .7);
}
.nextButton:hover
{
    border-left: 5em solid rgba(255, 255, 255, 1);
}





            /* MEDIA QUERIES */


/* Desktop 1080px: */
@media only screen  and (min-width : 1080px) 
{
    body
    {
        max-width: 90%;
        background-position: 25% 13%;

    }
    .heading
    {
        margin: 100px 0 0;
    }
    /* h1
    {
        padding-left: 1.9em;
    }
    h3
    {
        height: 25em;
        padding-left: 4em;
        padding-top: 10em;
        font-style: italic;
        font-size: 1.5em;
    } */
    /* .browse
    {
        margin: 40em 0;
    } */
    .menu-icon
    {
        top: 1.25em;
        right: 1.25em;
        width: 3.125em;
        height: 2.75em;
    }
    .menu-icon span {
        height: .25em;
        margin: .375em 0;
    }
    .sidebar {
        left: -18.75em;
        width: 18.75em;
        padding: 1.25em;
    }
    .sidebar .menu {
        padding: 2.5em 0;
    }
    .sidebar .menu li a {
        padding: .625em 0;
        font-size: 1.125em;
    }
    .menu-icon.active span {
        width: calc(100% - 1em);
        top: calc(50% - .5em);
    }
    .social-icon {
        bottom: 2.5em;
        width: 0 1.25em;
      }
    .social-icon li a {
        font-size: 1.125em;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
    }
    .logo2 {
        width: 6.25em;
        height: 6.25em;
    }
    .flex 
    {
        display: flex;
        flex-flow: row wrap;
    }
    .videoBody
    {
        align-items: start;
        justify-content: start;
        margin: 0 0;
        padding-top: .25em;
        width: 96vw;
    }
    .categories
    {
        font-size: 2em;
        margin: 2em .5em 1em;
    }
    .videoCategory 
    {
        cursor: pointer;
        max-width: 90%;
    }
    .gutter
    {
        height: fit-content;
        max-width: 20%;
        margin: 1.25em;
    }
    .gutter-header
    {
        background-color: transparent;
    }
    .gutter h2, .gutter p
    {
        padding: 5px 25px;
        text-align: left;
        color: #fff;
        letter-spacing: 1px;
    }
    .gutter p
    {
        font-style: italic;
    }
    .gutter:hover 
    {
        box-shadow: 1px 1px 7px rgba(255, 255, 255, .5);
    }
    .gutter:hover .gutter-header
    {
        background-color: #111;
    }
    .gutter:hover video
    {
        max-width: 100%;
    }

    /* Film Reel */

    .inline
    {
        display: inline;
    }
    .video
    {
        width: auto;
        margin: 0 auto;
        padding: 0;
    }
    .vidContainer
    {
        width: 100%;
        height: 8em;
        margin: 0;
        padding: 0;

    }
    .previousButton, .nextButton
    {
        margin-top: 1.25em; 
        border-top: 3.75em solid transparent;
        border-bottom: 3.75em solid transparent;
    }
    .previousButton
    {
        border-right: 3.75em solid rgba(255, 255, 255, .7);
    }
    .previousButton:hover
    {
        cursor: pointer;
        border-right: 3.8em solid rgba(255, 255, 255, 1);
    }
    .nextButton
    {
        border-left: 3.75em solid rgba(255, 255, 255, .7);
    }
    .nextButton:hover
    {
        cursor: pointer;
        border-left: 3.8em solid rgba(255, 255, 255, 1);
    }


}
    


/* Large screens */
@media only screen  and (min-width : 1920px) 
{
    .videoBody
    {
        margin: 400px auto;
        /* margin: 400px 0; */

    }

}

/* Use orientation to remove fixed pos reel from landscape mode phones; when category is clicked, just navigate up to #filmReel */


/* @ 600px:
    video .gutter width: 50%;
    h3 font smaller;
    .gutter p font larger;
 */

/* @ 750px:
    video .gutter width: 33%?;
    nav + top - make smaller
    side menu smaller
*/

/* On Tablet aspect ratio:
    check side menu sizing after previous media queries
*/

/* 
    adjust for landscape
*/
